.nav{
    background: #bcf;
    height: 65px;
    }
    ul{
        overflow:hidden;
    }
    ul li{
        float:left;
        list-style:none;
        padding: 0 10px;
        line-height: 65px;
    }
    ul li a{
        color:#3a3a;
    }
    img{
        height:1000px;
        width:2000px;
    }